<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <security>
      <authentication>
	<anonymousAuthentication enabled="false" />
	<basicAuthentication enabled="false" />
	<windowsAuthentication enabled="true" authPersistSingleRequest="false" authPersistNonNTLM="false">
	  <providers>
	    <remove value="Negotiate" />
	  </providers>
	  <extendedProtection tokenChecking="None" />
	</windowsAuthentication>
      </authentication>
    </security>
  </system.webServer>
</configuration>
